node_modules/
temp_tracer/
.env
.env.local
.DS_Store
dist/
build/
server/temp_docs.zip
*.zip
server/public/uploads/documentos/
server/temp_docs.zip
*.zip
admin/GUIAS PRACTICAS CLINICAS/
backups/
*.sql
!**/prisma/migrations/**/*.sql
